<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Login Page</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/" method="POST" id="signupForm">
                <h1>Create Account</h1>
                <!-- <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div> -->
                <!-- <span>or use your email for registeration</span> -->
                <input type="text" placeholder="Name" name="Name" id="signupName">
                <input type="email" placeholder="Email" name="Email" id="signupEmail">
                <input type="text" placeholder="Address" name="Adress" id="signupAddress">
                <input type="password" placeholder="Password" name="Pass" id="pass">
                <input type="password" placeholder="Confirm Password" name="Confirm" id="confirm">
                <p class="message" id="message">Demo text</p>
                <button type="submit" onclick="checkPassword()">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/" method="POST" id="loginForm">
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" placeholder="Email" name="email" id="lginEmail">
                <input type="password" placeholder="Password" name="Pass" id="lginPass">
                <p class="message" id="lginMessage">Demo text</p>
                <a href="#">Forget Your Password?</a>
                <button type="submit" onclick="checkLogin()">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>IWISEDRY</h1>
                    <p>Register</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
        
    </div>

    <script src="script.js"></script>
</body>

</html>